<h6>My edit</h6>
<%= form_for(@post) do |f| %>
  <label>Post title: My Edit</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description My edit</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>